@use '../utilities/mixins' as mx;
@use '../utilities/breakpoints' as br;

.header {
    @include mx.flex(row);
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    position: absolute;
    top: 160px;
    left: 50%;
    width: 88%;
    max-width: 600px;
    padding: 3.0rem 0;
    background-color: var(--white);

    border-radius: var(--border-md);
    box-shadow: var(--box-shadow--lg);
    transform: translateX(-50%);
    transition: all var(--really-fast-time) var(--cubic-bezier01);
}

@include br.for-size(medium) {
    .header {
        & > .hidden {
            display: auto;
            visibility: unset;
        }

        & > .zero-opacity {
            opacity: 1;
            transform: translate(0, 0)
        }
    }

    .header__nav {
        @include mx.defaultLayout;
        @include mx.flex(row);
        justify-content: space-between;
        flex: 1;
        max-width: none;
        padding: 0;
        transform: translateX(0);
    }
}